<table>
  <tr>
    <th>Downloadable Resources</th>
    <th>Description</th>
  </tr>
<tr>
  <td><a href="/files/LoomAdvocateSlides.zip">Loom Advocate Slide Deck</a></td>
  <td>Editable Keynote, PowerPoint, and PDF slides to help Loom advocates in ongoing conversations with Local stakeholders.</td>
</tr>
<tr>
  <td><a href="/files/LoomDatasetOwnerResponsibilitiesFAQ.pdf">Loom Dataset Owner Responsibilities Overview</a></td>
  <td>Printable 1-page FAQ explaining the responsibilities of a Loom Dataset Owner.</td>
</tr>
<tr>
  <td><a href="/files/LoomGlossaryOfTerms.pdf">Loom Glossary of Terms</a></td>
  <td>Printable 1-page reference of commonly-used terminology.</td>
</tr>
</table>
