| Field       | Purpose                                                  | Naming Convention         | Example                                                           |
|-------------|----------------------------------------------------------|---------------------------|-------------------------------------------------------------------|
| Namespace   | Used as a category for your entity set                   | All lowercase (No spaces) | iowa                                                              |
| Name        | The (short) name of your entity set                      | All lowercase (No spaces) | cfsjaildemo                                                       |
| Title       | Longer title for your entity set                         | Titlecase Capitalization  | Demo of Linking Jail Data and CFS Data                            |
| Description | Longer description about the contents of your entity set | Sentence Capitalization   | Full demo of linking Jail and CFS Data for the month of 1-17-2017 |
