**Sample Patient Data:**

* [Sample Patients](https://thedataloom.com/gallery/#/entitysets/c83ed763-ae30-49ed-8434-a1ba50613d5c)
* [Sample Patient Visits](https://thedataloom.com/gallery/#/entitysets/1b10dffc-12f2-4175-9ffe-2f5af53d8ced)
* [Sample Patient Appears In](https://thedataloom.com/gallery/#/entitysets/a922bdeb-5803-4ace-9513-e3fb36b615f4)

**Sample Jail Data:**

* [Sample Jail Subjects](https://thedataloom.com/gallery/#/entitysets/2cb51b29-b06e-4760-973a-aa664ee70538)
* [Sample Jail Bookings](https://thedataloom.com/gallery/#/entitysets/a15e8a08-3435-43b2-8fe4-86ed610cf4f0)
* [Sample Jail Subject Appears In](https://thedataloom.com/gallery/#/entitysets/9e0242d0-a8ac-4d60-8571-d77c85ecd520)