---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

// Our variables
$base-font-family: Lato, "Helvetica Neue", "Open Sans", sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$medium-font-size: $base-font-size * 1.25;
$large-font-size:  $base-font-size * 1.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$loom-link: rgb(51, 122, 183);
$loom-link-visited: rgb(66, 3, 197);
$loom-gray: #404446;

// Import partials from the `minima` theme.
@import "minima";

a {
  color: $loom-link;
  &:visited {
    color:$loom-link-visited;
  }
  &:hover {
    text-decoration:none;
  }
}

.site-logo {
  float: left;
  max-height: 25px;
  padding: 15px 0px;
  padding-right: 10px;
}

.site-title {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 5px;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
}

.flex-container img {
  border: 1px solid $grey-color-light;
  border-radius: 5px;
  flex-basis: 60%;
}

.caption {
  font-weight: bold;
  font-size: $small-font-size;
  margin-bottom: 5px;
  text-align: center;
}

.item {
  color: $grey-color-dark !important;
  flex-grow: 1;
  flex: 1;
  text-align: center;
  margin: 5px;
  padding: 20px;
  .large {
    font-size: $base-font-size * 1.5;
    color: $text-color;
  }
  .small {
    font-size: $small-font-size;
    letter-spacing: 1px;
  }
}

.line-break {
  height: 4px;
  width: 25px;
  background: #4203c5;
  display: inline-block;
  margin: 15px 0;
}

.page-link {
  font-size: 13px;
}

.site-header {
  border-top: none;
}

// table styling
table, th, td {
  border: 1px solid $grey-color-light;
  border-collapse: collapse;
}

table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 75%;
}

td {
  padding: 15px;
}

th {
  background-color: $grey-color-light;
}

// heading styles
h1, h2, h3, h4, h5, h6, .post-title {
  font-size: $medium-font-size !important;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}

h2 {
  font-size: $medium-font-size !important;
  color: $loom-link-visited
}

h3 {
  font-size: $medium-font-size * 0.85 !important;
  text-decoration: underline;
}

h4, h5, h6 {
  font-size: $medium-font-size * 0.75 !important;
  font-style: italic;
  text-decoration: none;
}

blockquote {
  letter-spacing: 1px;
  font-size: $base-font-size;
}

.construction {
  padding: 10px;
  background: $grey-color-light;
  border-radius: 5px;
  margin-bottom: 40px;
  text-align: center;
}

// search styling
.result {
  margin-top: 20px;
}

input[type="submit"] {
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: $loom-link-visited;
  border: 1px solid $loom-link-visited;
  color: white;
  font-size: $base-font-size;
}

input[type="text"] {
  width: 98%;
  padding: 5px;
  margin-top: 5px;
  font-size: $base-font-size;
}

label {
  font-weight: bold;
}

// responsive youtube video
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// change to 1 column layout for small screens
@include media-query($on-palm) {
    .flex-container {
      flex-direction: column;
    }
}
